@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.css";
@import "./components/input.css";

@layer utilities {

  /* Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.center-content {
  @apply grid place-items-center;
}

.responsive-wrapper {
  @apply mx-auto max-w-screen-xl w-full px-6;
}

.mobile-hidden {
  @apply hidden lg:block;
}

.desktop-hidden {
  @apply lg:hidden;
}

.bg-main-bg {
  background: radial-gradient(circle, #5a5a5a 10%, transparent 11%);
  background-size: 1em 1em;
  background-color: #14151a;
  opacity: 1;
}